
@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/league-gothic.regular-webfont.eot');
    src: url('../fonts/league-gothic.regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league-gothic.regular-webfont.woff2') format('woff2'),
         url('../fonts/league-gothic.regular-webfont.woff') format('woff'),
         url('../fonts/league-gothic.regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'League Gothic Regular', Arial, sans-serif;
}

.clearfix::after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


header {
	width: 100%;
	height: 850px;
	background: url(../img/bg.jpg) no-repeat;
	background-size: cover;
}

.top_box {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 50px;
}

.logo {
	float: left;
}

.top {
	float: right;
}

li {
	padding: 20px 20px;
	float: left;
}

.menu_top {
	text-transform: uppercase;
	font-size: 24px;
}

.menu_top:link {
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 2px 3px #666;
}

.menu_top:hover {
	text-decoration: underline;
	color: #edbfff;
	text-shadow: none;
}

.link {
	color: #fff;
	text-shadow: 1px 2px 3px #666;
}

/*---Slider---*/

.bg_slider {
	margin: 220px 0 0 0;
	width: 100%;
	height: 400px;
	background: rgba(10, 10, 10, 0.5);
}


.box_slider {
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	position: relative;
}

.arrow {
	float: left;
	width: 5%;
	height: 400px;
}

.arrow>a>img {
	padding: 175px 0 0 0;
}

.in_slider {
	float: left;
	width: 90%;
	height: 400px;
}

.art {
	padding: 85px 0 0 0;
	float: left;
	width: 50%;
}

.art>h1 {
	color: #fefefe;
	font-size: 55px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.art>h2 {
	color: #edbfff;
	font-size: 40px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.art>p {
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	font-size: 16px;
	line-height: 22px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.iphone {
	margin-top: -20px;
	float: right;
	width: 40%;
}

.slider {

}

.navi {
	position: absolute;
	right: 205px;
	bottom: -100px;
}

.navi1 {
	float: left;
	margin: 2px;
}

.navi2 {
	float: left;
	margin: 2px;
}

.navi3 {
	float: left;
	margin: 2px;
}

.navi4 {
	float: left;
	margin: 2px;
}

.navi1:hover {
	background: url(../img/nac_activ.png) no-repeat;
	background-size: 17px 17px;
}

.navi2:hover {
	background: url(../img/nac_activ.png) no-repeat;
	background-size: 17px 17px;
}

.navi3:hover {
	background: url(../img/nac_activ.png) no-repeat;
	background-size: 17px 17px;
}

.navi4:hover {
	background: url(../img/nac_activ.png) no-repeat;
	background-size: 17px 17px;
}


/*---Main---*/

.about {
	width: 100%;
	height: 340px;
	background: linear-gradient(to top, #33253a, #745083);

}

.about_in {
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	color: #fff;
}

.col1 {
	float: left;
	width: 33%;
	position: relative;
}

.col_in {
	padding: 80px 55px 0 55px;
}

h4 {
	font-size: 28px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.text1 {
	margin: 10px 0 0 0;
	line-height: 25px;
	height: 120px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	overflow: hidden;
}

.more {
	display: block;
	text-align: right;
	padding: 25px 13px 0 0;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
}

.col_in>a:hover {
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
}

.icon {
	background: url(../img/icon.png);
	width: 31px;
	height: 27px;
	position: absolute;
	left: 0px;
	top: 85px;
}

.col2 {
	background-position: 58px 0;
}

.col3 {
	background-position: 27px 0;
}

/*---Content---*/

.content_bg {
	width: 100%;
	height: 608px;
	background: #f9f9f9;
}

.content {
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	height: 485px;
}

.box_l {
	float: left;
	width: 50%;
	background: url(../img/bg_art.png) no-repeat;
	background-position: 30px 90px;
}

.starts {
	padding: 125px 70px 100px 80px;
	position: relative;
}

.icon_photo {
	width: 49px;
	height: 49px;
	background: url(../img/icon_photo.png);
	position: absolute;
	top: 115px;
	left: 7px;
}


.text2 {
	margin: 10px 0 0 0;
	line-height: 25px;
	height: 120px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #454545;
}


.box_r {
	float: right;
	width: 50%;
}

.updates {
	padding: 125px 0 0 0;
	position: relative;

}

.marker1 {
	width: 49px;
	height: 49px;
	background: url(../img/post_1.png);
	position: absolute;
	top: 172px;
}

.marker2 {
	width: 49px;
	height: 49px;
	background: url(../img/post_2.png);
	position: absolute;
	top: 235px;
}

.marker3 {
	width: 49px;
	height: 49px;
	background: url(../img/post_3.png);
	position: absolute;
	top: 300px;
}

h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	padding: 25px 0 0 55px;
}

.blog {
	margin: 10px 0 0 55px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #454545;
}

.here {
	padding: 30px 56px 0 0;
	color: #454545;
}

.line {
	border:none;
	background:#e6e6e6;
	height:1px;
}

.logos {
	display: block;
	margin: 20px auto;
}

/*---Footer---*/

.about_2 {
	width: 100%;
	height: 400px;
	background: #ececec;

}

.about_in_2 {
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	color: #787878;
}

.col_in_2 {
	padding: 110px 15px 0 15px;
}

h4.pig {
	font-size: 36px;
	text-shadow: none;
}

h4.pig_2 {
	font-size: 28px;
	text-shadow: none;
}

.text1_2 {
	margin: 10px 0 0 0;
	line-height: 25px;
	height: 165px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	overflow: hidden;
}

/*---Menu Bottom---*/

.bg_footer {
	width: 100%;
	height: 115px;
	background: url(../img/bg_footer.jpg) no-repeat;
	background-size: cover;
}

.box_bottom {
	padding: 27px 0 0 0;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

.bottom {
	font-size: 22px;
}

.designed {
	padding: 25px 30px;
	float: right;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 12px;
}

.as {
	font-weight: 800;
}
