
@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/league-gothic.regular-webfont.eot');
    src: url('../fonts/league-gothic.regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league-gothic.regular-webfont.woff2') format('woff2'),
         url('../fonts/league-gothic.regular-webfont.woff') format('woff'),
         url('../fonts/league-gothic.regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'League Gothic Regular', Arial, sans-serif;
}

.clearfix::after {
	content: '';
	clear: both;;
	display: block;
}

header {
	width: 100%;
	height: 850px;
	background: url(../img/bg.jpg) no-repeat;
	background-size: cover;
}

.top_box {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 50px;
}

.logo {
	float: left;
}

.top {
	float: right;
}

li {
	padding: 20px 20px;
	float: left;
}

.menu_top {
	text-transform: uppercase;
	font-size: 24px;
}

.menu_top:link {
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 2px 3px #666;
}

.menu_top:hover {
	text-decoration: underline;
	color: #edbfff;
	text-shadow: none;
}

.link {
	color: #fff;
	text-shadow: 1px 2px 3px #666;
}

/*---Slider---*/

.bg_slider {
	margin: 220px 0 0 0;
	width: 100%;
	height: 400px;
	background: rgba(10, 10, 10, 0.5);
}


.box_slider {
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	position: relative;
}

.arrow {
	float: left;
	width: 5%;
	height: 400px;
}

.arrow>a>img {
	padding: 175px 0 0 0;
}

.in_slider {
	float: left;
	width: 90%;
	height: 400px;
}

.art {
	padding: 85px 0 0 0;
	float: left;
	width: 50%;
}

.art>h1 {
	color: #fefefe;
	font-size: 55px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.art>h2 {
	color: #edbfff;
	font-size: 40px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.art>p {
	color: #ffffff;
	font-size: 18px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.iphone {
	margin-top: -20px;
	float: right;
	width: 40%;
}

.slider {

}

.navi {
	position: absolute;
	right: 205px;
	bottom: -100px;
}

.navi1 {
	float: left;
	margin: 2px;
}

.navi2 {
	float: left;
	margin: 2px;
}

.navi3 {
	float: left;
	margin: 2px;
}

.navi4 {
	float: left;
	margin: 2px;
}

.navi1:hover {
	background: url(../img/nac_activ.png) no-repeat;
	background-size: 17px 17px;
}

.navi2:hover {
	background: url(../img/nac_activ.png) no-repeat;
	background-size: 17px 17px;
}

.navi3:hover {
	background: url(../img/nac_activ.png) no-repeat;
	background-size: 17px 17px;
}

.navi4:hover {
	background: url(../img/nac_activ.png) no-repeat;
/*	background-position: 2px 2px;*/
	background-size: 17px 17px;
}
